<%= form_with model: @blog,id: 'new_message',local: true do |f|%>
  <div class="field">
    <%= f.label :title, "タイトル" %><br />
    <%= f.text_field :title ,size: 50 %>
  </div>

  <div class="field">
    <%= f.label :matter, "記事内容" %><br />
    <%= f.text_area :matter, class: :form__text,rows:10 %>
  </div>

  <div class="field">
    <%= f.label :image, "画像" %><br />
    <%= f.file_field :image %>
  </div>

  <div id="image-list"></div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>
<%= image_tag @blog.image, id: 'image' if @blog.image.present? %> 